<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
    <body>
        <div class="container"></div>
        <h1>Add Expense</h1>
        <form action="/budgtr" method="post">
            <% for(key in an_expense){ %> 
                <input type="text" name="<%=key %>" placeholder="<%=key%>"> <br>
            <% } %> 
        <input type="submit" value="submit">
        </form>
    </body>
</html>